@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Quicksand:wght@300&display=swap');

/*fuente principal */

*{
    margin: 0%;
    padding: 0%;
}

h1{
    font-size: 4.5rem;
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
}
h1 label{
    font-size: 6rem;
    color: #4BFF69;
}

h2{
    font-size: 1rem;
    letter-spacing: 1.3px;
    font-family: 'Quicksand', sans-serif;
    color: #9e9e9e;
}

p,label{
    font-family: 'Quicksand', sans-serif;
}



section{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 5px;
    padding-top: 6%;
    padding-left: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    align-items: center;
    justify-content: center;
}

.muestra{
    margin-bottom: 20px;
    margin-left: 35%;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    background-color: #383E4A;
    border: 2px solid #5C616A;
    box-shadow:  0px 0px 8px #383E4A;
    text-align: left;
    padding-top: 18px;
    padding-left: 10px;
    box-sizing: border-box;
}

.muestra label{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid;
    width: 35ch;
    animation: typing 2s steps(35),curs .5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes curs {
    50%{
        border-color: transparent;
    }
}




p{
    width: 40%;
    line-height: 23px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 40px
}


/*animacion botton*/


.button {
    --color: #4BFF69;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 1.2rem;
    border: 1px solid;
    color: var(--color);
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    letter-spacing: 1.3px;
    box-shadow: 0px 0px 3px #63f17b;
    transition: 300ms;

   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    transition: 300ms;
    color: rgb(10, 25, 30);
    border: #4BFF69;
    box-shadow: 0px 0px 6px #74ff8b;
    font-weight: 1000;


   }
   
   .button:active {
    filter: brightness(.8);
   }
   



/*animaciones del fondo*/


.area{
    
    overflow: hidden;
    background: #042940;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}